/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 
 /* WPN Specific Meta Boxes on Edit Post Screen */
 
 .j-box{
     position:relative;
     padding:115px 70px 20px;
     height:100px;
     width:400px;
     background-size:contain !important;
     font-family:Arial;
 }
 #from{
     font-size:18px;
     font-weight:400;
     margin-bottom:5px;
     color:#000;
 }
 #subject{
     font-size:16px;
     margin-bottom:5px;
     color:#828282;
 }
 #jbox{
     font-size:16px;
     color:#828282;
     height:36px;
     overflow:hidden;
     text-overflow:ellipsis;
     white-space:nowrap;
  }